## for Local Build

# Mandatory Vars

NAME='Piyumi'
## Name of receiver

PIC='sample-pic.jpeg'
## Name of image file

# Optional Vars -- Do not add these vars to your env if you dont want to use them

NICKNAME='Darling'
## A Nickname for more personalization

HBD_MSG='Wishing you a day filled with joy, laughter, and everything you love!'
## Custom HBD Greeting message

SCROLL_MSG='sample-scroll.txt'
## Name of the Scroll Message txt file

OPEN_DATE='2025-04-15'
## Active Date in YYYY-MM-DD format
